*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/stock-managment/build
/stock-managment/*.iml
/stock-managment/.gradle
/stock-managment/local.properties
/stock-managment/.idea/caches
/stock-managment/.idea/libraries
/stock-managment/.idea/modules.xml
/stock-managment/.idea/workspace.xml
/stock-managment/.idea/navEditor.xml
/stock-managment/.idea/assetWizardSettings.xml
/stock-managment/.idea/misc.xml
/stock-managment/.DS_Store
/stock-managment/captures
/stock-managment/.externalNativeBuild
/stock-managment/.cxx